<div class="col-xs-6 col-md-7" >
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" ng-repeat="group in groups" >
      <div class="panel-heading" >
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="" data-target="{{ '#collapse' + ($index+1) }}" data-id="{{($index)}}" ng-click="myFunc($event)">
            <span ng-bind="group.name"></span>
          </a>
        </h4>
      </div>
      <div id="{{ 'collapse' + ($index+1) }}" class="panel-collapse collapse **in**">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group">
                <li class="list-group-item"> <b>Group size:</b>
                  <span  ng-bind="group.groupsize"></span>
                </li>
                <li class="list-group-item"> <b>Course duration:</b>
                  <span  ng-bind="group.courseduration"></span>
                </li>
              </ul>
              <div class="panel-footer">
                <b>Result of successful course:</b>
                <span  ng-bind="group.snippet"></span>
              </div>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="getDay($event,date)">View Table</button>
            </div>
            <div class="col-md-6">
              <div class="datapikers" ng-model="date" jqdatepicker ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-md-5" >
  <div class="table-responsive bord">
    <h3 class="head-date" id="dateHeader">Date</h3>
    <table class="table table-striped">
      <thead class="table-heading">
        <th>Time</th>
        <th>Subject</th>
      </thead>
      <tbody>
        <tr ng-repeat="tab in table[foundindex].days[dday].lessons">
          <td ng-bind="tab.time"></td>
          <td ng-bind="tab.name"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- 
 -->
<!-- <div class="drop">
                    <a></a>
                  </div> -->